@charset "utf-8";
  $pink:	hsl(338, 63%, 64%);
  $purple:	#8d8daa;
  $light-pink:	hsl(11, 84%, 85%);
  $blue:	hsl(208, 44%, 42%);
  $primary: $pink;
  $link:#D61C4E;
  $info:#1F4690;
  $success:#7DCE13;
  $dark:$purple;
  $light: white;
  $warning:#FBCB0A;
  $danger:#EB1D36;


  //TABS
  $tabs-boxed-link-hover-background-color: $pink;
  $tabs-boxed-link-hover-color: $light;
  $link-active:$light;

  //NAVS
  $navbar-item-hover-background-color: $pink;
  $navbar-item-hover-color:black;

  // TITLES
  $subtitle-color:$light;
  //$title-color:$pink;
  $text:$light;
  $strong-color:$light;

  // BUTTONS
  $button-background-color:$pink;

  $box-background-color:$purple;
 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&family=Permanent+Marker&family=Red+Hat+Display:ital,wght@1,300;1,400&display=swap');

*{
  font-family: 'Manrope', sans-serif;
  background-color: $purple ;
  

}
img{
  height:fit-content;
  width: 250px !important;
}

h1{
  font-family: 'Red Hat Display', sans-serif;
color: #f56d91 !important;
}

.avatar{
  border: solid 5px #f56d91;  padding: 5px;
  margin: 2rem 0;
  border-radius: 50%;
}
@import "../../node_modules/bulma/bulma.sass";